Repository Alimedhat000/codown: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter client lint:fix, pnpm --filter server lint:fix

.lintstagedrc:

{
  "client/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter client lint:fix"
  ],
  "server/**/*.{js,ts}": [
    "pnpm --filter server lint:fix"
  ]
}

chore: add docker-compose.dev.yml for local development with hot reload
  docker-compose.dev.yml
  server/package.json
Due: none

chore: fix hot reload in dev compose
  docker-compose.dev.yml
Due: none

refactor(server): clean up logging and add Docker dev compose
  .env.example
  docker-compose.dev.yml
  docker-compose.yml
  server/src/config/swagger.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/document.controller.ts
  server/src/controllers/user.controller.ts
  server/src/lib/dbPersistence.ts
  server/src/lib/logger.ts
  server/src/middlewares/logging.middleware.ts
  server/src/server.ts
  server/src/sockets/ws-server.ts
  server/src/utils/getClientInfo.ts
Due: pnpm --filter server lint:fix

docs: add agents.md
  AGENTS.md
Due: none

fix(docker): pin pnpm, cache pnpm store across builds, harden registry fetches
  .npmrc
  client/Dockerfile
  package.json
  server/Dockerfile
Due: none

chore(env): align env files with what the code actually reads
  client/.env
  client/.env.example
  docker-compose.yml
  server/.env.example
Due: none

feat(docker): compose-watch dev flow with dedicated dev image stages
  client/Dockerfile
  docker-compose.dev.yml
  package.json
  server/Dockerfile
  server/package.json
Due: none

docs: rewrite dev setup for compose watch flow
  AGENTS.md
  README.md
Due: none

fix(server): enable CORS middleware for cross-origin dev client
  server/src/server.ts
Due: pnpm --filter server lint:fix

fix(ci): resolve lint and typecheck failures
  client/.gitignore
  server/src/config/swagger.ts
  server/src/controllers/document.controller.ts
  server/src/lib/dbPersistence.ts
  server/src/lib/logger.ts
  server/src/middlewares/logging.middleware.ts
  server/src/sockets/ws-server.ts
  server/test/setup.ts
Due: pnpm --filter server lint:fix

fix(dev): shell-form healthchecks and prisma generate before dev watch
  docker-compose.dev.yml
  server/package.json
  server/src/server.ts
Due: pnpm --filter server lint:fix

fix(ci): install dependencies with frozen lockfile
  .github/workflows/lint-type-check.yml
Due: none

chore(env): stop tracking client/.env
  client/.env
Due: none

fix(ci): use pnpm 11 from packageManager instead of hardcoded v8
  .github/workflows/lint-type-check.yml
Due: none

fix(ci): run on Node 22 to satisfy pnpm 11
  .github/workflows/lint-type-check.yml
Due: none

fix(ci): approve dependency build scripts via allowBuilds
  pnpm-workspace.yaml
Due: none

test: use test email for Playwright E2E tests
  client/e2e/auth.spec.ts
  client/package.json
  server/scripts/seed-test-user.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

feat(e2e): add Playwright with initial auth route tests and improve ARIA labels in login/register pages
  client/.gitignore
  client/e2e/auth.spec.ts
  client/package.json
  client/playwright.config.ts
  client/src/components/ui/Form/Input/input-field.tsx
  client/src/components/ui/Form/field-wrapper.tsx
  client/src/components/ui/Header/user-menu.tsx
  client/src/components/ui/auth/login-form.tsx
  client/src/components/ui/auth/register-form.tsx
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

test: add E2E tests for dashboard document management and UI interactions
  client/e2e/dashboard.spec.ts
  client/playwright.config.ts
  client/src/components/common/forms/NewDocumentFormBody.tsx
  client/src/features/Dashboard/components/DashBoardMain/document-list.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/delete-modal.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/document-card-dropdown.tsx
  client/src/features/Dashboard/components/DocumentGridCard/document-grid-card.tsx
  client/src/features/Dashboard/components/DocumentRow/document-row.tsx
  client/src/features/Dashboard/components/NewDocumentModal/new-document-modal.tsx
  client/src/features/Dashboard/components/SortControl/sort-control.tsx
Due: pnpm --filter client lint:fix

test: improved dashboard e2e test
  client/e2e/dashboard.spec.ts
Due: pnpm --filter client lint:fix

test(e2e): fix wiring, sessions, and selectors
  AGENTS.md
  client/.gitignore
  client/e2e/auth.setup.ts
  client/e2e/auth.spec.ts
  client/e2e/dashboard.spec.ts
  client/package.json
  client/playwright.config.ts
  client/tsconfig.json
  server/package.json
  server/scripts/seed-test-user.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(client): mount editor for fresh empty documents
  client/src/features/DocumentPage/components/DocumentMain/DocumentMain.tsx
  client/src/hooks/useCollab.ts
Due: pnpm --filter client lint:fix

test(e2e): cover registration, editor, sharing, sorting and logout
  client/e2e/auth.spec.ts
  client/e2e/dashboard.spec.ts
  client/e2e/editor.spec.ts
  client/e2e/logout.spec.ts
  client/e2e/sharing.spec.ts
  client/e2e/utils.ts
  client/playwright.config.ts
  server/scripts/seed-test-user.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

test(e2e): add multi-client collaboration coverage
  AGENTS.md
  client/e2e/collaboration.spec.ts
  client/e2e/sharing.spec.ts
  client/e2e/utils.ts
  client/playwright.config.ts
Due: pnpm --filter client lint:fix

test(e2e): cover permissions, split view and bad share links
  client/e2e/collaboration.spec.ts
  client/e2e/editor.spec.ts
  client/e2e/sharing.spec.ts
Due: pnpm --filter client lint:fix

ci: run Playwright e2e suite on push and PR
  .github/workflows/e2e.yml
  AGENTS.md
Due: none

Add Playwright E2E suite with CI wiring (#42)
  .github/workflows/e2e.yml
  AGENTS.md
  client/.gitignore
  client/e2e/auth.setup.ts
  client/e2e/auth.spec.ts
  client/e2e/collaboration.spec.ts
  client/e2e/dashboard.spec.ts
  client/e2e/editor.spec.ts
  client/e2e/logout.spec.ts
  client/e2e/sharing.spec.ts
  client/e2e/utils.ts
  client/package.json
  client/playwright.config.ts
  client/src/components/common/forms/NewDocumentFormBody.tsx
  client/src/components/ui/Form/Input/input-field.tsx
  client/src/components/ui/Form/field-wrapper.tsx
  client/src/components/ui/Header/user-menu.tsx
  client/src/components/ui/auth/login-form.tsx
  client/src/components/ui/auth/register-form.tsx
  client/src/features/Dashboard/components/DashBoardMain/document-list.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/delete-modal.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/document-card-dropdown.tsx
  client/src/features/Dashboard/components/DocumentGridCard/document-grid-card.tsx
  client/src/features/Dashboard/components/DocumentRow/document-row.tsx
  client/src/features/Dashboard/components/NewDocumentModal/new-document-modal.tsx
  client/src/features/Dashboard/components/SortControl/sort-control.tsx
  client/src/features/DocumentPage/components/DocumentMain/DocumentMain.tsx
  client/src/hooks/useCollab.ts
  client/tsconfig.json
  pnpm-lock.yaml
  server/package.json
  server/scripts/seed-test-user.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(server): require SHARE_LINK_SECRET env var
  .env.example
  docker-compose.dev.yml
  docker-compose.yml
  server/src/config/env.config.ts
  server/src/lib/shareToken.ts
  server/test/shareToken.test.ts
Due: pnpm --filter server lint:fix

fix(server): restrict collaborators listing to owners and stop leaking credentials
  server/src/controllers/document.controller.ts
  server/test/document.test.ts
Due: pnpm --filter server lint:fix

fix: resolve documents by exact ID instead of unordered prefix match
  server/src/utils/slugIDtoFullID.ts
  server/test/slugIDtoFullID.test.ts
Due: pnpm --filter server lint:fix

feat: authenticate collaboration websocket and enforce permissions
  client/src/hooks/useCollab.ts
  pnpm-lock.yaml
  server/package.json
  server/src/sockets/ws-server.ts
  server/src/utils/getDocumentPermission.ts
  server/test/ws-auth.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(security): sanitize preview HTML, decouple mermaid from raw-HTML path (#49)
  client/package.json
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/MarkdownPreview.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/MermaidDiagram.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/markdown-preview.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/sanitize-schema.ts
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

fix(server): require SHARE_LINK_SECRET env var (#57)
  .env.example
  docker-compose.dev.yml
  docker-compose.yml
  server/src/config/env.config.ts
  server/src/lib/shareToken.ts
  server/test/shareToken.test.ts
Due: pnpm --filter server lint:fix

fix(server): allow editors to list collaborators on shared documents
  server/src/controllers/document.controller.ts
  server/test/document.test.ts
Due: pnpm --filter server lint:fix

feat(client): show collaborator roster to editors and view-only badge
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/features/DocumentPage/components/DocumentHeader/DocumentToolbar/document-toolbar.tsx
  client/src/features/DocumentPage/components/DocumentHeader/document-header.tsx
  client/src/hooks/useCollaborators.ts
Due: pnpm --filter client lint:fix

feat(client): inject collaborators into dropdown stories via optional prop
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
Due: pnpm --filter client lint:fix

fix(client): default Storybook canvas to the app's dark theme
  client/.storybook/preview.ts
Due: pnpm --filter client lint:fix

fix(client): update DashboardMain stories to current component props
  client/src/features/Dashboard/components/DashBoardMain/dashboard-main.stories.tsx
Due: pnpm --filter client lint:fix

fix(server): build bundle before starting nodemon in dev
  server/package.json
Due: none

fix(server): build bundle before starting nodemon in dev (#63)
  server/package.json
Due: none
