Repository Alimedhat000/codown: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter client lint:fix, pnpm --filter server lint:fix

.lintstagedrc:

{
  "client/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter client lint:fix"
  ],
  "server/**/*.{js,ts}": [
    "pnpm --filter server lint:fix"
  ]
}

fix action?
  .github/workflows/lint-type-check.yml
Due: none

fix action 2
  .github/workflows/lint-type-check.yml
Due: none

test
  server/src/server.ts
Due: pnpm --filter server lint:fix

feat(client): add Tailwind CSS to project dependencies
  client/DOCS.md
  client/README.md
  client/package.json
  client/src/index.css
  client/vite.config.ts
  pnpm-lock.yaml
  server/DOCS.md
  server/README.md
Due: pnpm --filter client lint:fix

feat(auth): add base registration and login routes
  package.json
  pnpm-lock.yaml
  server/package.json
  server/prisma/migrations/20250712004806_add_user_model/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/prisma/schema.prisma
  server/src/config/env.config.ts
  server/src/controllers/user.controller.ts
  server/src/lib/prisma.ts
  server/src/middlewares/auth.middleware.ts
  server/src/routers/index.ts
  server/src/routers/user.router.ts
  server/src/server.ts
  server/src/validations/create-user.schema.ts
  server/src/validations/login.schema.ts
  server/src/validations/register.schema.ts
Due: pnpm --filter server lint:fix

test(auth): add route tests, Vitest setup and integrated tests into the workflow
  .github/workflows/lint-type-check.yml
  server/test/auth.test.ts
  server/test/setup.ts
  server/vitest.config.ts
Due: pnpm --filter server lint:fix

ci: configure GitHub Actions to run tests with PostgreSQL
  .github/workflows/lint-type-check.yml
  pnpm-lock.yaml
  server/.env.example
  server/package.json
Due: none

chore: rename user router and controller to auth for clarity
  server/src/controllers/auth.controller.ts
  server/src/routers/auth.router.ts
  server/src/routers/index.ts
Due: pnpm --filter server lint:fix

feat: add logging middleware with morgan and winston integration
  pnpm-lock.yaml
  server/package.json
  server/src/lib/logger.ts
  server/src/middlewares/logging.middleware.ts
  server/src/server.ts
Due: pnpm --filter server lint:fix

refactor(logging, scripts): use chalk in logs, fix morgan output, and remove PM2
  client/package.json
  pnpm-lock.yaml
  server/package.json
  server/src/middlewares/logging.middleware.ts
Due: pnpm --filter server lint:fix

feat(auth): implement JWT authentication with access and refresh tokens
  pnpm-lock.yaml
  server/.env.example
  server/package.json
  server/prisma/migrations/20250713053759_add_refresh_token_to_user_model/migration.sql
  server/prisma/schema.prisma
  server/src/@types/AuthenticatedRequest.d.ts
  server/src/config/env.config.ts
  server/src/controllers/auth.controller.ts
  server/src/controllers/user.controller.ts
  server/src/middlewares/auth.middleware.ts
  server/src/routers/auth.router.ts
  server/src/routers/user.router.ts
  server/src/server.ts
  server/test/auth.test.ts
  server/test/setup.ts
Due: pnpm --filter server lint:fix

feat(client): add react router and axios api and improve client folder structure
  client/index.html
  client/package.json
  client/src/App.css
  client/src/App.tsx
  client/src/api/auth.ts
  client/src/api/axios.ts
  client/src/app/App.tsx
  client/src/app/routes/Home.tsx
  client/src/app/routes/Login.tsx
  client/src/app/routes/Register.tsx
  client/src/assets/.gitkeep
  client/src/assets/react.svg
  client/src/components/.gitkeep
  client/src/features/.gitkeep
  client/src/hooks/.gitkeep
  client/src/index.css
  client/src/lib/.gitkeep
  client/src/main.tsx
  client/src/types/.gitkeep
  client/src/utils/.gitkeep
  client/src/validations/authSchemas.ts
  client/tsconfig.app.json
  client/vite.config.ts
  pnpm-lock.yaml
  server/package.json
  server/src/server.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

feat(auth): implement JWT-based authentication with useAuth hook and update related routes, controllers, and tests
  .husky/pre-commit
  .vscode/settings.json
  client/src/api/axios.ts
  client/src/app/routes/Home.tsx
  client/src/app/routes/Login.tsx
  client/src/context/auth/AuthContext.tsx
  client/src/context/auth/AuthProvider.tsx
  client/src/context/auth/index.ts
  client/src/context/auth/useAuth.tsx
  client/src/main.tsx
  client/src/utils/token.ts
  server/src/controllers/auth.controller.ts
  server/src/middlewares/auth.middleware.ts
  server/src/routers/index.ts
  server/src/routers/user.router.ts
  server/test/auth.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

feat(document): implemented full document CRUD
  server/prisma/migrations/20250713225505_add_documents/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/document.controller.ts
  server/src/routers/document.router.ts
  server/src/routers/index.ts
  server/test/setup.ts
Due: pnpm --filter server lint:fix

feat(document): implement simple Dashboard and DocumentPages with basic CRUD functionality
  client/src/app/App.tsx
  client/src/app/routes/Dashboard.tsx
  client/src/app/routes/DocumentPages.tsx
  client/src/app/routes/Home.tsx
  pnpm-lock.yaml
  server/package.json
  server/src/controllers/document.controller.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

feat(client): set up Plate.js and ShadCN UI, created first markdown editor prototype
  client/.eslintignore
  client/components.json
  client/package.json
  client/src/app/App.tsx
  client/src/app/routes/DocumentPages.tsx
  client/src/app/routes/Home.tsx
  client/src/components/Editor/MarkDownEditor.tsx
  client/src/index.css
  client/src/lib/utils.ts
  client/src/shared/components/editor/plugins/basic-blocks-base-kit.tsx
  client/src/shared/components/editor/plugins/basic-blocks-kit.tsx
  client/src/shared/components/editor/plugins/basic-marks-base-kit.tsx
  client/src/shared/components/editor/plugins/basic-marks-kit.tsx
  client/src/shared/components/editor/plugins/basic-nodes-kit.tsx
  client/src/shared/components/ui/blockquote-node-static.tsx
  client/src/shared/components/ui/blockquote-node.tsx
  client/src/shared/components/ui/code-node-static.tsx
  client/src/shared/components/ui/code-node.tsx
  client/src/shared/components/ui/dropdown-menu.tsx
  client/src/shared/components/ui/editor-static.tsx
  client/src/shared/components/ui/editor.tsx
  client/src/shared/components/ui/fixed-toolbar.tsx
  client/src/shared/components/ui/heading-node-static.tsx
  client/src/shared/components/ui/heading-node.tsx
  client/src/shared/components/ui/highlight-node-static.tsx
  client/src/shared/components/ui/highlight-node.tsx
  client/src/shared/components/ui/hr-node-static.tsx
  client/src/shared/components/ui/hr-node.tsx
  client/src/shared/components/ui/kbd-node-static.tsx
  client/src/shared/components/ui/kbd-node.tsx
  client/src/shared/components/ui/mark-toolbar-button.tsx
  client/src/shared/components/ui/paragraph-node-static.tsx
  client/src/shared/components/ui/paragraph-node.tsx
  client/src/shared/components/ui/separator.tsx
  client/src/shared/components/ui/toolbar.tsx
  client/src/shared/components/ui/tooltip.tsx
  client/tsconfig.json
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

chore: remove Plate.js editor setup, Radix UI components, and ShadCN-related utilities
  client/components.json
  client/package.json
  client/src/app/routes/DocumentPages.tsx
  client/src/components/Editor/MarkDownEditor.tsx
  client/src/lib/utils.ts
  client/src/shared/components/editor/plugins/basic-blocks-base-kit.tsx
  client/src/shared/components/editor/plugins/basic-blocks-kit.tsx
  client/src/shared/components/editor/plugins/basic-marks-base-kit.tsx
  client/src/shared/components/editor/plugins/basic-marks-kit.tsx
  client/src/shared/components/editor/plugins/basic-nodes-kit.tsx
  client/src/shared/components/ui/blockquote-node-static.tsx
  client/src/shared/components/ui/blockquote-node.tsx
  client/src/shared/components/ui/code-node-static.tsx
  client/src/shared/components/ui/code-node.tsx
  client/src/shared/components/ui/dropdown-menu.tsx
  client/src/shared/components/ui/editor-static.tsx
  client/src/shared/components/ui/editor.tsx
  client/src/shared/components/ui/fixed-toolbar.tsx
  client/src/shared/components/ui/heading-node-static.tsx
  client/src/shared/components/ui/heading-node.tsx
  client/src/shared/components/ui/highlight-node-static.tsx
  client/src/shared/components/ui/highlight-node.tsx
  client/src/shared/components/ui/hr-node-static.tsx
  client/src/shared/components/ui/hr-node.tsx
  client/src/shared/components/ui/kbd-node-static.tsx
  client/src/shared/components/ui/kbd-node.tsx
  client/src/shared/components/ui/mark-toolbar-button.tsx
  client/src/shared/components/ui/paragraph-node-static.tsx
  client/src/shared/components/ui/paragraph-node.tsx
  client/src/shared/components/ui/separator.tsx
  client/src/shared/components/ui/toolbar.tsx
  client/src/shared/components/ui/tooltip.tsx
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

feat(auth): imporve AuthProvider and the useAuth hook
  client/src/app/routes/Home.tsx
  client/src/context/auth/AuthContext.tsx
  client/src/context/auth/AuthProvider.tsx
Due: pnpm --filter client lint:fix

feat(editor): integrate Remirror for Markdown editing and preview
  client/package.json
  client/src/app/routes/DocumentPages.tsx
  client/src/components/editor.tsx
  client/src/main.tsx
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

feat(editor): Implement auto-save and enhance extensibility
  client/package.json
  client/src/app/routes/DocumentPages.tsx
  client/src/components/editor.tsx
  client/src/components/extensions.ts
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

chore: remove Remirror and migrate to CodeMirror setup with markdown preview
  client/package.json
  client/src/app/routes/DocumentPages.tsx
  client/src/components/editor.tsx
  client/src/components/extensions.ts
  client/src/index.css
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

feat(ui): add DocumentPage header and Tailwind color theme support
  client/package.json
  client/public/fonts/Inter-Italic.ttf
  client/public/fonts/Inter.ttf
  client/public/vite.svg
  client/src/app/routes/DocumentPages.tsx
  client/src/components/DocumentPage/NavBarHeader/ModeSelector.tsx
  client/src/components/DocumentPage/NavBarHeader/NavBarHeader.tsx
  client/src/components/DocumentPage/NavBarHeader/NavBreadcrumb.tsx
  client/src/components/DocumentPage/NavBarHeader/NavLeft.tsx
  client/src/components/DocumentPage/NavBarHeader/NavRight.tsx
  client/src/components/DocumentPage/NavBarHeader/index.ts
  client/src/index.css
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

feat(editor): integrate initial CodeMirror editor with live Markdown preview
  client/index.html
  client/package.json
  client/src/app/routes/DocumentPages.tsx
  client/src/components/DocumentPage/NavBarHeader/NavBarHeader.tsx
  client/src/components/DocumentPage/NavBarHeader/NavLeft.tsx
  client/src/components/editor.tsx
  client/src/components/extensions.ts
  client/src/components/theme.ts
  client/src/index.css
  client/src/lib/rehypeCopyButton.ts
  client/src/types/index.d.ts
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

chore(editor): create separate components for editing and previewing Markdown for cleaner code
  client/src/app/routes/DocumentPages.tsx
  client/src/components/DocumentPage/Editor/CodeEditor.tsx
  client/src/components/DocumentPage/Editor/Editor.tsx
  client/src/components/DocumentPage/Editor/EditorExtensions.ts
  client/src/components/DocumentPage/Editor/EditorTheme.ts
  client/src/components/DocumentPage/Editor/MarkdownPreview.tsx
  client/src/components/DocumentPage/Editor/index.ts
  client/src/components/editor.tsx
Due: pnpm --filter client lint:fix

chore: move app and routes to the root of src folder and remove all unused dependencies
  client/.eslintignore
  client/package.json
  client/src/App.tsx
  client/src/main.tsx
  client/src/routes/Dashboard.tsx
  client/src/routes/DocumentPages.tsx
  client/src/routes/Home.tsx
  client/src/routes/Login.tsx
  client/src/routes/Register.tsx
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

refactor: polished UI and extracted custom hooks to clean up DocumentPage
  client/package.json
  client/src/components/DocumentPage/Editor/CodeEditor.tsx
  client/src/components/DocumentPage/Editor/Editor.tsx
  client/src/components/DocumentPage/Editor/EditorExtensions.ts
  client/src/components/DocumentPage/Editor/StatusBar.tsx
  client/src/components/DocumentPage/Editor/ToolBar.tsx
  client/src/components/DocumentPage/NavBarHeader/MobileModeSelector.tsx
  client/src/components/DocumentPage/NavBarHeader/ModeSelector.tsx
  client/src/components/DocumentPage/NavBarHeader/NavBarHeader.tsx
  client/src/components/DocumentPage/NavBarHeader/NavBreadcrumb.tsx
  client/src/components/DocumentPage/NavBarHeader/NavLeft.tsx
  client/src/components/DocumentPage/NavBarHeader/NavRight.tsx
  client/src/hooks/useAutoSave.ts
  client/src/hooks/useDocument.ts
  client/src/hooks/useMediaQuery.ts
  client/src/index.css
  client/src/routes/DocumentPages.tsx
  client/src/types/index.d.ts
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

feat(yjs): integrate Yjs state management with WebSocket server and update database schema
  pnpm-lock.yaml
  server/.yjs-state/chat-room.bin
  server/.yjs-state/my-doc.bin
  server/package.json
  server/prisma/migrations/20250719164842_add_yjs_state/migration.sql
  server/prisma/schema.prisma
  server/src/server.ts
  server/src/sockets/test-client.ts
  server/src/sockets/yjs-server.ts
Due: pnpm --filter server lint:fix

fix(Dashboard): shorten document ID in links to improve URL handling
  client/src/routes/Dashboard.tsx
  server/src/controllers/document.controller.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix: ensure all document retrieval uses shortened id and checks for ownership before updating or deleting
  server/src/controllers/document.controller.ts
Due: pnpm --filter server lint:fix

feat: implement collaborative editing using Hocuspocus and Yjs
  client/package.json
  client/src/components/DocumentPage/Editor/CodeEditor.tsx
  client/src/components/DocumentPage/Editor/Editor.tsx
  client/src/hooks/useCollab.ts
  client/src/routes/DocumentPages.tsx
  pnpm-lock.yaml
  server/.gitignore
  server/.yjs-state/chat-room.bin
  server/.yjs-state/my-doc.bin
  server/package.json
  server/src/lib/dbPersistence.ts
  server/src/server.ts
  server/src/sockets/test-client.ts
  server/src/sockets/ws-server.ts
  server/src/sockets/yjs-server.ts
  server/src/utils/slugIDtoFullID.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

Finally Update README.md
  README.md
Due: none

feat: add protected routes and env var for API URL; improve linter config
  .github/workflows/lint-type-check.yml
  client/.env
  client/.env.example
  client/eslint.config.js
  client/package.json
  client/src/api/auth.ts
  client/src/api/axios.ts
  client/src/app/provider.tsx
  client/src/app/router.tsx
  client/src/app/routes/app/dashboard.tsx
  client/src/app/routes/app/error-boundary.tsx
  client/src/app/routes/app/home.tsx
  client/src/app/routes/auth/login.tsx
  client/src/app/routes/auth/register.tsx
  client/src/app/routes/landing.tsx
  client/src/components/ui/spinner/index.ts
  client/src/components/ui/spinner/spinner.tsx
  client/src/config/env.ts
  client/src/config/paths.ts
  client/src/context/auth/AuthContext.tsx
  client/src/context/auth/AuthProvider.tsx
  client/src/context/auth/index.ts
  client/src/context/auth/useAuth.tsx
  client/src/features/DocumentPage/Editor/Editor.tsx
  client/src/features/DocumentPage/NavBarHeader/NavLeft.tsx
  client/src/hooks/useDocument.ts
  client/src/lib/__tests__/api.test.tsx
  client/src/lib/api.ts
  client/src/lib/auth.ts
  client/src/types/api.ts
  client/src/utils/cn.ts
  client/src/validations/authSchemas.ts
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

chore(storybook): setup Storybook with default configuration
  client/.gitignore
  client/.storybook/main.ts
  client/.storybook/preview.ts
  client/.storybook/vitest.setup.ts
  client/eslint.config.js
  client/package.json
  client/tsconfig.json
  client/vite.config.ts
  client/vitest.shims.d.ts
  package.json
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

feat(ui): implement auth pages UI with reusable components and Storybook
  client/.storybook/preview.ts
  client/package.json
  client/src/app/provider.tsx
  client/src/app/routes/auth/login.tsx
  client/src/app/routes/auth/register.tsx
  client/src/components/layouts/authLayout.tsx
  client/src/components/ui/Alert/alert.stories.tsx
  client/src/components/ui/Alert/alert.tsx
  client/src/components/ui/Alert/index.tsx
  client/src/components/ui/Button/button.stories.tsx
  client/src/components/ui/Button/button.tsx
  client/src/components/ui/Button/index.ts
  client/src/components/ui/Button/variants.tsx
  client/src/components/ui/Form/Input/index.ts
  client/src/components/ui/Form/Input/input-field.tsx
  client/src/components/ui/Form/Input/variants.ts
  client/src/components/ui/Form/error.tsx
  client/src/components/ui/Form/field-wrapper.tsx
  client/src/components/ui/Form/input.stories.tsx
  client/src/components/ui/Form/label.tsx
  client/src/components/ui/Spinner/index.ts
  client/src/components/ui/Spinner/spinner.tsx
  client/src/components/ui/auth/login-form.tsx
  client/src/components/ui/auth/register-form.tsx
  client/src/index.css
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

fix(router): update RouterProvider import to correct module
  client/src/app/router.tsx
Due: pnpm --filter client lint:fix

refactor(auth): remove onDismiss from authlayout and rename AuthLayout import
  client/src/app/routes/auth/login.tsx
  client/src/app/routes/auth/register.tsx
  client/src/components/layouts/AuthLayout.tsx
Due: pnpm --filter client lint:fix

feat(ui): update button and input variants for improved styling and add max-width to auth forms
  client/src/components/ui/Button/variants.tsx
  client/src/components/ui/Form/Input/variants.ts
  client/src/components/ui/auth/login-form.tsx
  client/src/components/ui/auth/register-form.tsx
  client/src/index.css
Due: pnpm --filter client lint:fix

feat: implement reusable Skeleton component for loading states
  client/src/components/ui/Skeleton/index.tsx
  client/src/components/ui/Skeleton/skeleton.stories.tsx
  client/src/components/ui/Skeleton/skeleton.tsx
Due: pnpm --filter client lint:fix

feat(ui): create Avatar component with support for image, fallback, and sizing
  client/package.json
  client/src/components/ui/Avatar/avatar.stories.tsx
  client/src/components/ui/Avatar/avatar.tsx
  client/src/components/ui/Avatar/index.ts
Due: pnpm --filter client lint:fix
