Repository Alimedhat000/codown: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter client lint:fix, pnpm --filter server lint:fix

.lintstagedrc:

{
  "client/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter client lint:fix"
  ],
  "server/**/*.{js,ts}": [
    "pnpm --filter server lint:fix"
  ]
}

fix(client): Storybook QA repairs (dark canvas + DashboardMain stories) (#62)
  client/.storybook/preview.ts
  client/src/features/Dashboard/components/DashBoardMain/dashboard-main.stories.tsx
Due: pnpm --filter client lint:fix

fix(client): keep mermaid labels through DOMPurify via foreignObject integration point
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/MermaidDiagram.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/markdown-preview.stories.tsx
Due: pnpm --filter client lint:fix

docs(client): document preview sanitization and mermaid render path
  docs/client/markdown-preview-sanitization.md
Due: none

fix(security): sanitize preview HTML, decouple mermaid from raw-HTML path (#49) (#60)
  client/package.json
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/MarkdownPreview.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/MermaidDiagram.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/markdown-preview.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/sanitize-schema.ts
  docs/client/markdown-preview-sanitization.md
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

Security: exact-ID doc resolution + WS authentication (#45, #24) (#59)
  client/src/hooks/useCollab.ts
  pnpm-lock.yaml
  server/package.json
  server/src/sockets/ws-server.ts
  server/src/utils/getDocumentPermission.ts
  server/src/utils/slugIDtoFullID.ts
  server/test/slugIDtoFullID.test.ts
  server/test/ws-auth.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(server): restrict collaborators listing to owners and stop leaking credentials (#58)
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/features/DocumentPage/components/DocumentHeader/DocumentToolbar/document-toolbar.tsx
  client/src/features/DocumentPage/components/DocumentHeader/document-header.tsx
  client/src/hooks/useCollaborators.ts
  server/src/controllers/document.controller.ts
  server/test/document.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

docs: client quality initiative design spec
  docs/superpowers/specs/2026-08-23-client-quality-design.md
Due: none

docs: client quality initiative implementation plan
  docs/superpowers/plans/2026-08-23-client-quality.md
Due: none

ci: trigger workflows for stacked client-quality branches
  .github/workflows/e2e.yml
  .github/workflows/lint-type-check.yml
Due: none

chore(client): wire vitest browser test runner
  client/package.json
  package.json
Due: none

chore(client): remove empty orphaned test file
  client/src/lib/__tests__/api.test.tsx
Due: pnpm --filter client lint:fix

chore(client): scaffold components with autodocs and jsdoc stubs
  client/generators/component/component.stories.tsx.hbs
  client/generators/component/component.tsx.hbs
Due: none

ci: install playwright chromium before running client tests
  .github/workflows/lint-type-check.yml
Due: none

ci: serialize root tests and disable client story file parallelism
  client/vite.config.ts
  package.json
Due: pnpm --filter client lint:fix

chore(client): enforce kebab-case filenames, drop stale shared ignores
  client/eslint.config.js
  client/package.json
Due: pnpm --filter client lint:fix

refactor(client): folder-per-component for layouts
  client/src/components/layouts/AuthLayout/auth-layout.tsx
  client/src/components/layouts/AuthLayout/index.ts
  client/src/components/layouts/ContentLayout/content-layout.tsx
  client/src/components/layouts/ContentLayout/index.ts
  client/src/components/layouts/DashboardLayout/dashboard-layout.tsx
  client/src/components/layouts/DashboardLayout/index.ts
  client/src/components/layouts/DocumentLayout/document-layout.tsx
  client/src/components/layouts/DocumentLayout/index.ts
Due: pnpm --filter client lint:fix

refactor(client): normalize ui directory casing and dissolve Form/Input
  client/src/components/ui/Auth/login-form.tsx
  client/src/components/ui/Auth/register-form.tsx
  client/src/components/ui/Form/Input/index.ts
  client/src/components/ui/Form/index.ts
  client/src/components/ui/Form/input.stories.tsx
  client/src/components/ui/Form/input.tsx
  client/src/components/ui/Form/variants.ts
  client/src/components/ui/Header/header.stories.tsx
  client/src/components/ui/Seo/head.tsx
  client/src/components/ui/Seo/index.ts
  client/src/components/ui/seo/index.ts
Due: pnpm --filter client lint:fix

chore(client): enforce jsdoc rule (error) with corrected export contexts
  client/eslint.config.js
Due: pnpm --filter client lint:fix

fix(server): clear collaborator/request rows before test document cleanup
  server/scripts/seed-test-user.ts
Due: pnpm --filter server lint:fix

refactor(client): fix DashboardMain casing, relocate shared NewDocumentFormBody
  client/src/app/routes/app/dashboard.tsx
  client/src/app/routes/auth/login.tsx
  client/src/app/routes/auth/register.tsx
  client/src/app/routes/landing.tsx
  client/src/components/common/NewDocumentFormBody/index.ts
  client/src/components/common/NewDocumentFormBody/new-document-form-body.tsx
  client/src/components/layouts/AuthLayout/auth-layout.tsx
  client/src/components/layouts/ContentLayout/content-layout.tsx
  client/src/components/layouts/DashboardLayout/dashboard-layout.tsx
  client/src/components/layouts/DocumentLayout/document-layout.tsx
  client/src/features/Dashboard/components/DashboardMain/dashboard-main.stories.tsx
  client/src/features/Dashboard/components/DashboardMain/dashboard-main.tsx
  client/src/features/Dashboard/components/DashboardMain/dashboard-view-toggle.tsx
  client/src/features/Dashboard/components/DashboardMain/document-list.tsx
  client/src/features/Dashboard/components/DashboardMain/document-section.tsx
  client/src/features/Dashboard/components/DashboardMain/document-skeleton-loader.tsx
  client/src/features/Dashboard/components/DashboardMain/index.ts
  client/src/features/Dashboard/components/NewDocumentModal/new-document-modal.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CreateDocumentButton/create-document-button.tsx
Due: pnpm --filter client lint:fix

refactor(client): kebab-case DocumentMain subtree and util filenames
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownStatusBar/markdown-status-bar.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownStatusBar/use-editor-status.ts
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownToolbar/markdown-toolbar.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownToolbar/use-markdown-commands.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/editor-extensions.ts
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/editor-theme.ts
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/index.ts
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/key-map-extension.ts
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/markdown-editor.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/spell-check.ts
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/index.ts
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/markdown-preview.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/markdown-preview.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/mermaid-diagram.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/remark-decorations.tsx
  client/src/features/DocumentPage/components/DocumentMain/document-main.tsx
  client/src/features/DocumentPage/components/DocumentMain/index.ts
  client/src/lib/rehype-copy-button.ts
  client/src/utils/generate-user-color.ts
Due: pnpm --filter client lint:fix

fix(client): correct stale e2e API port fallback to 5001
  client/e2e/collaboration.spec.ts
Due: pnpm --filter client lint:fix

refactor(client): remove dead interceptor, split join-request api from hook
  client/src/hooks/use-join-requests.ts
  client/src/lib/api.ts
  client/src/lib/join-requests-api.ts
Due: pnpm --filter client lint:fix

refactor(client): kebab-case auth context files
  client/src/context/auth/auth-context.tsx
  client/src/context/auth/auth-provider.tsx
  client/src/context/auth/index.ts
  client/src/context/auth/use-auth.tsx
Due: pnpm --filter client lint:fix

refactor(client): kebab-case hook filenames
  client/src/app/routes/app/document.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/features/DocumentPage/components/DocumentHeader/ShareButton/share-button.tsx
  client/src/features/DocumentPage/components/DocumentMain/DocumentMain.tsx
  client/src/hooks/use-auto-save.ts
  client/src/hooks/use-collab.ts
  client/src/hooks/use-collaborators.ts
  client/src/hooks/use-document.ts
  client/src/hooks/use-join-requests.ts
  client/src/hooks/use-media-query.ts
  client/src/hooks/use-share-link.ts
Due: pnpm --filter client lint:fix

feat(client): expose error state from data hooks
  client/src/hooks/use-collaborators.ts
  client/src/hooks/use-document.ts
  client/src/hooks/use-join-requests.ts
Due: pnpm --filter client lint:fix

chore(client): add jsdoc lint rule (warn)
  client/eslint.config.js
  client/package.json
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

refactor(client): injectable provider factory in useCollab
  client/src/hooks/use-collab.ts
Due: pnpm --filter client lint:fix

docs(client): enforce JSDoc description/param quality via lint
  AGENTS.md
  client/eslint.config.js
Due: pnpm --filter client lint:fix

ci: prebundle react-dom/client for storybook tests
  client/vite.config.ts
Due: pnpm --filter client lint:fix

test(client): deflake modal form validation assertion (existence over visibility)
  client/src/components/common/NewDocumentFormBody/new-document-form-body.stories.tsx
Due: pnpm --filter client lint:fix

test(client): status bar and toolbar stories with real codemirror views
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownStatusBar/markdown-status-bar.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownToolbar/markdown-toolbar.stories.tsx
Due: pnpm --filter client lint:fix

test(client): stories for spinner, seo head, layouts and auth/create forms with play coverage
  client/src/components/common/NewDocumentFormBody/new-document-form-body.stories.tsx
  client/src/components/layouts/AuthLayout/auth-layout.stories.tsx
  client/src/components/layouts/ContentLayout/content-layout.stories.tsx
  client/src/components/layouts/DashboardLayout/dashboard-layout.stories.tsx
  client/src/components/layouts/DocumentLayout/document-layout.stories.tsx
  client/src/components/ui/Auth/login-form.stories.tsx
  client/src/components/ui/Auth/register-form.stories.tsx
  client/src/components/ui/Seo/head.stories.tsx
  client/src/components/ui/Spinner/spinner.stories.tsx
Due: pnpm --filter client lint:fix

test(client): editor cluster stories; prewarm optimizeDeps for story tests
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/markdown-editor.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/document-main.stories.tsx
  client/src/hooks/use-collab.ts
  client/vite.config.ts
Due: pnpm --filter client lint:fix

test(client): global router/auth/modal story decorators; drop redundant per-story routers
  client/.storybook/preview.ts
  client/.storybook/preview.tsx
  client/src/components/ui/Header/header.stories.tsx
  client/src/features/Dashboard/components/DashboardMain/dashboard-main.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/DocumentToolbar/document-toolbar.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/WorkspaceInfo/workspace-info.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/document-header.stories.tsx
Due: pnpm --filter client lint:fix

test(client): stories for new-document modal and card dropdown with portal-aware plays
  client/src/features/Dashboard/components/DocumentCardDropdown/document-card-dropdown.stories.tsx
  client/src/features/Dashboard/components/NewDocumentModal/new-document-modal.stories.tsx
Due: pnpm --filter client lint:fix

fix(client): editor view reached toolbar/status as null; harden story assertions
  client/src/components/common/NewDocumentFormBody/new-document-form-body.stories.tsx
  client/src/components/ui/Auth/login-form.stories.tsx
  client/src/components/ui/Auth/register-form.stories.tsx
  client/src/components/ui/Header/header.stories.tsx
  client/src/components/ui/Seo/head.stories.tsx
  client/src/features/Dashboard/components/DashboardMain/dashboard-main.stories.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/document-card-dropdown.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/WorkspaceInfo/workspace-info.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownToolbar/markdown-toolbar.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/markdown-editor.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/markdown-editor.tsx
  client/src/features/DocumentPage/components/DocumentMain/document-main.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/document-main.tsx
Due: pnpm --filter client lint:fix

docs: adr 0001 defer auth token consolidation
  docs/adr/0001-defer-auth-token-consolidation.md
Due: none
