Repository Alimedhat000/codown: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter client lint:fix, pnpm --filter server lint:fix

feat: enahnce subscript and superscript and add buttons for them to Markdown toolbar
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownToolbar/toolbar-buttons.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/rehype-subsuper.ts
Due: pnpm --filter client lint:fix

feat: implement toggelable synchronized scrolling between editor and preview in DocumentMain component
  client/src/features/DocumentPage/components/DocumentMain/DocumentMain.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownEditor.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/MarkdownPreview.tsx
Due: pnpm --filter client lint:fix

feat: enhance synchronized scrolling functionality in DocumentMain component
  client/src/features/DocumentPage/components/DocumentMain/DocumentMain.tsx
Due: pnpm --filter client lint:fix

feat: add Table of Contents component and enhance Markdown preview with last edited timestamp
  client/src/app/routes/app/document.tsx
  client/src/features/DocumentPage/components/DocumentMain/DocumentMain.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/MarkdownPreview.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/markdown-toc.tsx
  client/src/hooks/useDocument.ts
  client/src/index.css
  client/src/types/api.ts
  client/src/types/index.d.ts
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

fix: remove unnecessary transitive dependency references for debug package
  pnpm-lock.yaml
Due: none

fix: revert the document routes to the full id and remove annoying console.log
  client/src/app/routes/app/dashboard.tsx
  client/src/app/routes/app/document.tsx
  client/src/app/routes/auth/register.tsx
  client/src/features/Dashboard/components/DashBoardMain/document-list.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/document-actions.tsx
  client/src/features/Dashboard/components/DocumentGridCard/document-grid-card.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/spellCheck.ts
  client/src/hooks/useAutoSave.ts
  client/src/hooks/useDocument.ts
  server/src/controllers/document.controller.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

feat(docs): add collaborator management and sharing functionality
  pnpm-lock.yaml
  server/.env.example
  server/DOCS.md
  server/eslint.config.js
  server/package.json
  server/prisma/migrations/20250802165912_add_collaboration_models/migration.sql
  server/prisma/migrations/20250802170318_make_shareid_required/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/document.controller.ts
  server/src/routers/document.router.ts
  server/src/server.ts
  server/test/auth.test.ts
  server/test/document.test.ts
  server/test/setup.ts
  server/vitest.config.ts
Due: pnpm --filter server lint:fix

feat: add secure share link route with token-based permission
  server/.env.example
  server/src/controllers/document.controller.ts
  server/src/lib/shareToken.ts
  server/src/routers/document.router.ts
  server/test/document.test.ts
Due: pnpm --filter server lint:fix

feat: improve logging for auth and document routes
  server/src/controllers/auth.controller.ts
  server/src/controllers/document.controller.ts
  server/src/lib/logger.ts
  server/src/server.ts
  server/src/utils/getClientInfo.ts
Due: pnpm --filter server lint:fix

fix: fix missing logout API call on logout
  client/src/context/auth/AuthProvider.tsx
Due: pnpm --filter client lint:fix

docs: add Swagger documentation for API endpoints
  pnpm-lock.yaml
  server/package.json
  server/src/config/swagger.ts
  server/src/server.ts
  server/swagger.yaml
Due: pnpm --filter server lint:fix

chore: prettify server startup logs
  server/src/config/swagger.ts
  server/src/controllers/user.controller.ts
  server/src/server.ts
  server/src/sockets/ws-server.ts
Due: pnpm --filter server lint:fix

feat: fetch collaborators, share link, and requests dynamically from API
  client/package.json
  client/src/app/routes/app/document.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/features/DocumentPage/components/DocumentHeader/DocumentToolbar/document-toolbar.tsx
  client/src/features/DocumentPage/components/DocumentHeader/ShareButton/share-button.tsx
  client/src/features/DocumentPage/components/DocumentHeader/ShareButton/share-mode-select.tsx
  client/src/features/DocumentPage/components/DocumentHeader/document-header.tsx
  client/src/hooks/useCollaborators.ts
  client/src/hooks/useJoinRequests.ts
  client/src/hooks/useShareLink.ts
  client/src/types/api.ts
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

feat: connect client and server for share/collaboration flow with new share route
  client/src/app/router.tsx
  client/src/app/routes/app/dashboard.tsx
  client/src/app/routes/app/document.tsx
  client/src/app/routes/app/share.tsx
  client/src/config/paths.ts
  client/src/features/Dashboard/components/DashBoardMain/dashboard-main.tsx
  client/src/features/Dashboard/components/DashBoardMain/document-list.tsx
  client/src/features/Dashboard/components/DocumentGridCard/document-grid-card.tsx
  client/src/features/Dashboard/components/DocumentRow/document-row.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/features/DocumentPage/components/DocumentHeader/DocumentToolbar/document-toolbar.tsx
  client/src/features/DocumentPage/components/DocumentHeader/ShareButton/share-button.tsx
  client/src/features/DocumentPage/components/DocumentHeader/ShareButton/share-mode-select.tsx
  client/src/features/DocumentPage/components/DocumentHeader/document-header.tsx
  client/src/features/DocumentPage/components/DocumentMain/DocumentMain.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownEditor.tsx
  client/src/hooks/useDocument.ts
  client/src/hooks/useJoinRequests.ts
  client/src/types/api.ts
  client/src/utils/generateUserColor.ts
  server/prisma/migrations/20250806104740_add_permission_to_request/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/document.controller.ts
  server/test/document.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix: resolve console errors and warnings in useJoinRequest and useCollaborators hooks
  client/src/app/routes/app/document.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/features/DocumentPage/components/DocumentHeader/DocumentToolbar/document-toolbar.tsx
  client/src/features/DocumentPage/components/DocumentHeader/ShareButton/share-button.tsx
  client/src/hooks/useCollaborators.ts
  client/src/hooks/useJoinRequests.ts
  client/src/hooks/useShareLink.ts
Due: pnpm --filter client lint:fix

Update README.md
  README.md
Due: none

fix: fix workflow from typechecking storybook
  client/tsconfig.json
Due: none

fix workflow
  client/tsconfig.json
Due: none

feat: add Toast component and use it in copy sharelink
  client/src/components/ui/Toast/index.ts
  client/src/components/ui/Toast/toast.stories.tsx
  client/src/components/ui/Toast/toast.tsx
  client/src/features/DocumentPage/components/DocumentHeader/ShareButton/share-button.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownPreview/MarkdownPreview.tsx
Due: pnpm --filter client lint:fix

change cors to use the env var instead
  server/src/server.ts
Due: pnpm --filter server lint:fix

remove Docker files
  server/.dockerignore
  server/Dockerfile
  server/docker-compose.yaml
Due: none

add env var to client for deplyment
  client/.env
  client/src/config/env.ts
  client/src/hooks/useCollab.ts
Due: pnpm --filter client lint:fix

change websocket to have same port as api
  client/.env
  server/src/sockets/ws-server.ts
Due: pnpm --filter server lint:fix

fix ports conflicts between socket and express
  client/.env
  pnpm-lock.yaml
  server/package.json
  server/src/server.ts
  server/src/sockets/ws-server.ts
Due: pnpm --filter server lint:fix

fix vercel deployment
  client/vercel.json
Due: none

disable cors for now
  server/src/server.ts
Due: pnpm --filter server lint:fix

fix cors
  server/src/server.ts
Due: pnpm --filter server lint:fix

fix(auth): maintain login state after refreshing the page
  server/src/controllers/auth.controller.ts
Due: pnpm --filter server lint:fix

lower logger usage on production
  server/src/lib/logger.ts
  server/src/server.ts
Due: pnpm --filter server lint:fix

feat(input): add password visibility toggle with eye/eye-off icon
  client/src/components/ui/Form/Input/input-field.tsx
Due: pnpm --filter client lint:fix

refactor: simplify share route by replacing /:shareId&token with /token for cleaner logic
  .gitignore
  client/src/app/routes/app/share.tsx
  client/src/config/paths.ts
  server/src/controllers/document.controller.ts
  server/src/routers/document.router.ts
  server/test/document.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix server prisma errors
  server/src/lib/prisma.ts
Due: pnpm --filter server lint:fix

feat(e2e): add Playwright with initial auth route tests and improve ARIA labels in login/register pages
  client/.gitignore
  client/e2e/auth.spec.ts
  client/package.json
  client/playwright.config.ts
  client/src/components/ui/Form/Input/input-field.tsx
  client/src/components/ui/Form/field-wrapper.tsx
  client/src/components/ui/Header/user-menu.tsx
  client/src/components/ui/auth/login-form.tsx
  client/src/components/ui/auth/register-form.tsx
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

test: use test email for Playwright E2E tests
  client/e2e/auth.spec.ts
  client/package.json
  server/scripts/seed-test-user.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

test: add E2E tests for dashboard document management and UI interactions
  client/e2e/dashboard.spec.ts
  client/playwright.config.ts
  client/src/components/common/forms/NewDocumentFormBody.tsx
  client/src/features/Dashboard/components/DashBoardMain/document-list.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/delete-modal.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/document-card-dropdown.tsx
  client/src/features/Dashboard/components/DocumentGridCard/document-grid-card.tsx
  client/src/features/Dashboard/components/DocumentRow/document-row.tsx
  client/src/features/Dashboard/components/NewDocumentModal/new-document-modal.tsx
  client/src/features/Dashboard/components/SortControl/sort-control.tsx
Due: pnpm --filter client lint:fix

test: improved dashboard e2e test
  client/e2e/dashboard.spec.ts
Due: pnpm --filter client lint:fix

chore: remove vercel from the repo
  client/vercel.json
  server/src/server.ts
Due: pnpm --filter server lint:fix

docs: add documentation for client/server
  docs/CLAUDE.md
  docs/client/README.md
  docs/client/api-client.md
  docs/client/architecture.md
  docs/client/auth-flow.md
  docs/client/collaboration.md
  docs/client/components.md
  docs/client/context.md
  docs/client/features.md
  docs/client/hooks.md
  docs/client/index.md
  docs/server/README.md
  docs/server/api.md
  docs/server/architecture.md
  docs/server/auth-flow.md
  docs/server/database.md
  docs/server/index.md
  docs/server/middleware.md
  docs/server/websockets.md
Due: none

chore: add Docker multi-stage builds for client and serve
  .dockerignore
  .env.example
  client/Dockerfile
  client/nginx.conf
  client/src/config/env.ts
  client/src/lib/api.ts
  docker-compose.yml
  server/Dockerfile
  server/docker-entrypoint.sh
  server/src/server.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

Path conditions:
  pnpm --filter client lint:fix: any of: client/**/*.{js,jsx,ts,tsx}
  pnpm --filter server lint:fix: any of: server/**/*.{js,ts}
