Repository Alimedhat000/codown: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter client lint:fix, pnpm --filter server lint:fix

.lintstagedrc:

{
  "client/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter client lint:fix"
  ],
  "server/**/*.{js,ts}": [
    "pnpm --filter server lint:fix"
  ]
}

ci: drop temporary client-quality branch triggers
  .github/workflows/e2e.yml
  .github/workflows/lint-type-check.yml
Due: none

client quality/a infra (#67)
  .github/workflows/e2e.yml
  .github/workflows/lint-type-check.yml
  client/generators/component/component.stories.tsx.hbs
  client/generators/component/component.tsx.hbs
  client/package.json
  client/src/lib/__tests__/api.test.tsx
  client/vite.config.ts
  package.json
Due: pnpm --filter client lint:fix

client quality/docs (#66)
  docs/superpowers/plans/2026-08-23-client-quality.md
  docs/superpowers/specs/2026-08-23-client-quality-design.md
Due: none

client quality/c rules (#70)
  client/eslint.config.js
  client/package.json
  pnpm-lock.yaml
Due: pnpm --filter client lint:fix

client quality/e stories (#72)
  client/.storybook/preview.ts
  client/.storybook/preview.tsx
  client/src/components/common/NewDocumentFormBody/new-document-form-body.stories.tsx
  client/src/components/layouts/AuthLayout/auth-layout.stories.tsx
  client/src/components/layouts/ContentLayout/content-layout.stories.tsx
  client/src/components/layouts/DashboardLayout/dashboard-layout.stories.tsx
  client/src/components/layouts/DocumentLayout/document-layout.stories.tsx
  client/src/components/ui/Auth/login-form.stories.tsx
  client/src/components/ui/Auth/register-form.stories.tsx
  client/src/components/ui/Header/header.stories.tsx
  client/src/components/ui/Seo/head.stories.tsx
  client/src/components/ui/Spinner/spinner.stories.tsx
  client/src/features/Dashboard/components/DashboardMain/dashboard-main.stories.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/document-card-dropdown.stories.tsx
  client/src/features/Dashboard/components/NewDocumentModal/new-document-modal.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/DocumentToolbar/document-toolbar.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/WorkspaceInfo/workspace-info.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/document-header.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownStatusBar/markdown-status-bar.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/MarkdownToolbar/markdown-toolbar.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/markdown-editor.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/MarkdownEditor/markdown-editor.tsx
  client/src/features/DocumentPage/components/DocumentMain/document-main.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/document-main.tsx
  client/src/hooks/use-collab.ts
  client/vite.config.ts
Due: pnpm --filter client lint:fix

client quality/f ci (#73)
  .github/workflows/e2e.yml
  .github/workflows/lint-type-check.yml
  docs/adr/0001-defer-auth-token-consolidation.md
Due: none

Security: exact-ID doc resolution + WS authentication (#45, #24) (#59)
  client/src/hooks/use-collab.ts
  server/package.json
  server/src/sockets/ws-server.ts
  server/src/utils/getDocumentPermission.ts
  server/src/utils/slugIDtoFullID.ts
  server/test/slugIDtoFullID.test.ts
  server/test/ws-auth.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(server): restrict collaborators listing to owners and stop leaking credentials (#58)
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/features/DocumentPage/components/DocumentHeader/DocumentToolbar/document-toolbar.tsx
  client/src/features/DocumentPage/components/DocumentHeader/document-header.tsx
  client/src/hooks/use-collaborators.ts
  pnpm-lock.yaml
  server/src/controllers/document.controller.ts
  server/test/document.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(server): WS authentication + exact-ID document resolution (from main) (#74)
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/features/DocumentPage/components/DocumentHeader/DocumentToolbar/document-toolbar.tsx
  client/src/features/DocumentPage/components/DocumentHeader/document-header.tsx
  client/src/hooks/use-collab.ts
  client/src/hooks/use-collaborators.ts
  pnpm-lock.yaml
  server/package.json
  server/src/controllers/document.controller.ts
  server/src/sockets/ws-server.ts
  server/src/utils/getDocumentPermission.ts
  server/src/utils/slugIDtoFullID.ts
  server/test/document.test.ts
  server/test/slugIDtoFullID.test.ts
  server/test/ws-auth.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

chore: ignore local git worktrees directory
  .gitignore
Due: none

fix(server): remove leftover debug console.log calls
  server/src/controllers/document.controller.ts
  server/src/utils/getClientInfo.ts
Due: pnpm --filter server lint:fix

feat(server): rate-limit auth endpoints
  pnpm-lock.yaml
  server/package.json
  server/src/middlewares/rate-limit.middleware.ts
  server/src/routers/auth.router.ts
  server/test/rateLimit.test.ts
Due: pnpm --filter server lint:fix

fix(server): cascade-delete collaborators and join requests
  server/prisma/migrations/20260824200022_cascade_delete_collaboration_on_document/migration.sql
  server/prisma/schema.prisma
  server/test/document.test.ts
Due: pnpm --filter server lint:fix

fix(client): copy the selected permission's share link, not a stale one
  client/e2e/sharing.spec.ts
  client/src/features/DocumentPage/components/DocumentHeader/ShareButton/share-button.tsx
  client/src/hooks/use-share-link.ts
Due: pnpm --filter client lint:fix

fix(server): remove leftover debug console.log calls (#75)
  server/src/controllers/document.controller.ts
  server/src/utils/getClientInfo.ts
Due: pnpm --filter server lint:fix

fix(server): force-enable limiter in rate-limit tests
  server/test/rateLimit.test.ts
Due: pnpm --filter server lint:fix

feat(server): rate-limit auth endpoints (re-land onto develop) (#79)
  pnpm-lock.yaml
  server/package.json
  server/src/middlewares/rate-limit.middleware.ts
  server/src/routers/auth.router.ts
  server/test/rateLimit.test.ts
Due: pnpm --filter server lint:fix

fix: deleting a shared document fails (FK RESTRICT) (#77)
  server/prisma/migrations/20260824200022_cascade_delete_collaboration_on_document/migration.sql
  server/prisma/schema.prisma
  server/test/document.test.ts
Due: pnpm --filter server lint:fix

fix(collab): accept email when adding collaborators
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/hooks/use-collaborators.ts
  server/src/controllers/document.controller.ts
  server/src/exceptions/ConflictError.ts
  server/src/routers/document.router.ts
  server/src/validations/addCollaborator.schema.ts
  server/test/document.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(client): invalidate previous share link whenever a new fetch starts
  client/e2e/sharing.spec.ts
  client/src/hooks/use-share-link.ts
Due: pnpm --filter client lint:fix

fix(client): stale 'view' share link when switching permission (#78)
  client/e2e/sharing.spec.ts
  client/src/features/DocumentPage/components/DocumentHeader/ShareButton/share-button.tsx
  client/src/hooks/use-share-link.ts
Due: pnpm --filter client lint:fix

fix(server): map P2002 race on duplicate collaborator insert to 409
  server/src/controllers/document.controller.ts
  server/test/document.test.ts
Due: pnpm --filter server lint:fix

fix(server): normalize email case at validation boundaries
  server/src/validations/addCollaborator.schema.ts
  server/src/validations/login.schema.ts
  server/src/validations/register.schema.ts
  server/test/auth.test.ts
  server/test/document.test.ts
Due: pnpm --filter server lint:fix

fix(server): scope request decisions to route document
  server/src/controllers/document.controller.ts
  server/test/document.test.ts
Due: pnpm --filter server lint:fix

fix(server): make Yjs sole writer of Document.content
  server/src/controllers/document.controller.ts
  server/src/lib/dbPersistence.ts
  server/test/document.test.ts
Due: pnpm --filter server lint:fix

fix(server): scope collaboration request decisions to route document (#85)
  server/src/controllers/document.controller.ts
  server/test/document.test.ts
Due: pnpm --filter server lint:fix

fix(collab): accept email when adding collaborators (#80)
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.stories.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/hooks/use-collaborators.ts
  server/src/controllers/document.controller.ts
  server/src/exceptions/ConflictError.ts
  server/src/routers/document.router.ts
  server/src/validations/addCollaborator.schema.ts
  server/src/validations/login.schema.ts
  server/src/validations/register.schema.ts
  server/test/auth.test.ts
  server/test/document.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(client): stop sending content in document save payload
  client/src/hooks/use-document.ts
Due: pnpm --filter client lint:fix

fix(server): make Yjs sole writer of Document.content (#86)
  client/src/hooks/use-document.ts
  server/src/controllers/document.controller.ts
  server/src/lib/dbPersistence.ts
  server/test/document.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(server,client): validate all document endpoints with Zod
  client/src/components/common/NewDocumentFormBody/new-document-form-body.tsx
  client/src/components/ui/Auth/login-form.tsx
  client/src/components/ui/Auth/register-form.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/rename-modal.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/lib/auth.ts
  server/src/controllers/document.controller.ts
  server/src/routers/document.router.ts
  server/src/validations/addCollaborator.schema.ts
  server/src/validations/createDocument.schema.ts
  server/src/validations/documentParams.schema.ts
  server/src/validations/login.schema.ts
  server/src/validations/register.schema.ts
  server/src/validations/updateDocSettings.schema.ts
  server/src/validations/updateDocument.schema.ts
  server/test/auth.test.ts
  server/test/document.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(auth): prevent account enumeration on register and login (#83)
  server/src/controllers/auth.controller.ts
  server/test/auth.test.ts
Due: pnpm --filter server lint:fix

fix(server): authenticate logout via refresh cookie
  server/src/routers/auth.router.ts
  server/test/auth.test.ts
Due: pnpm --filter server lint:fix

fix(server): stop setting unused accessToken cookie on refresh
  server/src/controllers/auth.controller.ts
  server/test/auth.test.ts
Due: pnpm --filter server lint:fix

fix(server): set refresh cookie flags per environment
  server/src/controllers/auth.controller.ts
  server/test/auth.test.ts
Due: pnpm --filter server lint:fix

fix(client): clear stale collaborator error on new add/remove attempts
  client/.gitignore
  client/src/hooks/__tests__/use-collaborators.test.tsx
  client/src/hooks/use-collaborators.ts
  client/vite.config.ts
Due: pnpm --filter client lint:fix

fix(client): auto-refresh session on 401 with single-flight refresh
  client/src/lib/__tests__/api.test.ts
  client/src/lib/api.ts
  client/vite.config.ts
Due: pnpm --filter client lint:fix
