Repository Alimedhat000/codown: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter client lint:fix, pnpm --filter server lint:fix

.lintstagedrc:

{
  "client/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter client lint:fix"
  ],
  "server/**/*.{js,ts}": [
    "pnpm --filter server lint:fix"
  ]
}

fix(client): rebuild session bootstrap without wasLoggedOut hack
  client/e2e/auth.spec.ts
  client/src/context/auth/auth-provider.tsx
  client/src/lib/api.ts
Due: pnpm --filter client lint:fix

test(server): fix set-cookie typing in cookie flags test
  server/test/auth.test.ts
Due: pnpm --filter server lint:fix

fix(client): race-free scroll sync stops split-view tearing in Firefox
  client/src/features/DocumentPage/components/DocumentMain/document-main.stories.tsx
  client/src/features/DocumentPage/components/DocumentMain/document-main.tsx
  client/src/features/DocumentPage/components/DocumentMain/use-scroll-sync.ts
Due: pnpm --filter client lint:fix

test(client): cover latest-wins mirroring under same-frame scroll bursts
  client/src/features/DocumentPage/components/DocumentMain/document-main.stories.tsx
Due: pnpm --filter client lint:fix

fix(server,client): validate all document endpoints with Zod
  client/src/components/common/NewDocumentFormBody/new-document-form-body.tsx
  client/src/components/ui/Auth/login-form.tsx
  client/src/components/ui/Auth/register-form.tsx
  client/src/features/Dashboard/components/DocumentCardDropdown/rename-modal.tsx
  client/src/features/DocumentPage/components/DocumentHeader/CollaboratorsDropdown/collaborators-dropdown.tsx
  client/src/lib/auth.ts
  server/src/controllers/document.controller.ts
  server/src/routers/document.router.ts
  server/src/validations/addCollaborator.schema.ts
  server/src/validations/createDocument.schema.ts
  server/src/validations/documentParams.schema.ts
  server/src/validations/login.schema.ts
  server/src/validations/register.schema.ts
  server/src/validations/updateDocSettings.schema.ts
  server/src/validations/updateDocument.schema.ts
  server/test/auth.test.ts
  server/test/document.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(auth): prevent account enumeration on register and login (#83)
  server/src/controllers/auth.controller.ts
  server/test/auth.test.ts
Due: pnpm --filter server lint:fix

test(client): harden use-collaborators harness against CI flakes
  client/src/hooks/__tests__/use-collaborators.test.tsx
Due: pnpm --filter client lint:fix

fix(server): clear refresh cookie with matching attributes
  server/src/controllers/auth.controller.ts
Due: pnpm --filter server lint:fix

test(server): cover logout cookie clearing with matching attributes
  server/test/auth.test.ts
Due: pnpm --filter server lint:fix

fix(client): dedupe session expiry and guard cleared token replay
  client/src/lib/__tests__/api.test.ts
  client/src/lib/api.ts
Due: pnpm --filter client lint:fix

fix(server): authenticate logout via refresh cookie
  server/src/routers/auth.router.ts
  server/test/auth.test.ts
Due: pnpm --filter server lint:fix

fix(client): auto-refresh session on 401 with single-flight refresh
  client/src/lib/__tests__/api.test.ts
  client/src/lib/api.ts
  client/vite.config.ts
Due: pnpm --filter client lint:fix

fix(server): stop setting unused accessToken cookie on refresh
  server/src/controllers/auth.controller.ts
  server/test/auth.test.ts
Due: pnpm --filter server lint:fix

fix(server): set refresh cookie flags per environment
  server/src/controllers/auth.controller.ts
  server/test/auth.test.ts
Due: pnpm --filter server lint:fix

fix(client): clear stale collaborator error on new add/remove attempts
  client/.gitignore
  client/src/hooks/__tests__/use-collaborators.test.tsx
  client/src/hooks/use-collaborators.ts
  client/vite.config.ts
Due: pnpm --filter client lint:fix

fix(client): make vitest projects disjoint to unbreak develop CI
  client/vite.config.ts
Due: pnpm --filter client lint:fix

fix(server): session hardening — rotation, multi-device, isActive (#51)
  server/prisma/migrations/20260828010125_add_session/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/auth.controller.ts
  server/src/middlewares/auth.middleware.ts
  server/test/auth-isactive.test.ts
  server/test/auth-multidevice.test.ts
  server/test/auth-session-rotation.test.ts
  server/test/setup.ts
Due: pnpm --filter server lint:fix

fix(server): session hardening — rotation, multi-device, isActive (#51)
  client/e2e/dashboard.spec.ts
  client/e2e/logout.spec.ts
  client/e2e/utils.ts
  client/playwright.config.ts
  server/prisma/migrations/20260828010125_add_session/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/auth.controller.ts
  server/src/middlewares/auth.middleware.ts
  server/test/auth-isactive.test.ts
  server/test/auth-multidevice.test.ts
  server/test/auth-session-rotation.test.ts
  server/test/setup.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

perf(db): add indexes for document and collaboration queries
  server/prisma/migrations/20260829200000_add_performance_indexes/migration.sql
  server/prisma/schema.prisma
Due: none

refactor: remove slugIDtoFullID and encode document URLs as short IDs
  client/src/app/routes/app/document.tsx
  client/src/config/paths.ts
  client/src/utils/short-id.ts
  server/src/lib/dbPersistence.ts
  server/src/utils/short-id.ts
  server/src/utils/slugIDtoFullID.ts
  server/test/slugIDtoFullID.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix(server): paginate getDocs, exclude content and add title search
  server/src/controllers/document.controller.ts
  server/src/routers/document.router.ts
  server/src/validations/documentParams.schema.ts
  server/swagger.yaml
Due: pnpm --filter server lint:fix

feat(client): add dashboard search and pagination
  client/src/app/routes/app/dashboard.tsx
  client/src/features/Dashboard/components/DashboardMain/dashboard-main.tsx
Due: pnpm --filter client lint:fix

fix(server): session hardening — rotation, multi-device, isActive (#51) (#96)
  client/e2e/dashboard.spec.ts
  client/e2e/logout.spec.ts
  client/e2e/utils.ts
  client/playwright.config.ts
  server/prisma/migrations/20260828010125_add_session/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/auth.controller.ts
  server/src/middlewares/auth.middleware.ts
  server/test/auth-isactive.test.ts
  server/test/auth-multidevice.test.ts
  server/test/auth-session-rotation.test.ts
  server/test/setup.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

perf: indexes + remove slug roundtrip, encode doc URLs as short IDs (#98)
  client/src/app/routes/app/document.tsx
  client/src/config/paths.ts
  client/src/utils/short-id.ts
  server/prisma/migrations/20260829200000_add_performance_indexes/migration.sql
  server/prisma/schema.prisma
  server/src/lib/dbPersistence.ts
  server/src/utils/short-id.ts
  server/src/utils/slugIDtoFullID.ts
  server/test/slugIDtoFullID.test.ts
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix

fix: dashboard search & pagination, drop content from list (#97)
  client/src/app/routes/app/dashboard.tsx
  client/src/features/Dashboard/components/DashboardMain/dashboard-main.tsx
  server/src/controllers/document.controller.ts
  server/src/routers/document.router.ts
  server/src/validations/documentParams.schema.ts
  server/swagger.yaml
Due: pnpm --filter client lint:fix, pnpm --filter server lint:fix
